$primary-color: black;
$secondary-color: white;
$background-color-1: blue;
$background-color-2: #ececec;

.background {
  height: 350px;
  background-color: $background-color-1;
}

.background-2 {
  height: 100vh;
  background-color: $background-color-2;
}

.body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 765px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-size {
  height: 380px !important;
  width: 765px !important;
}

.img-size {
  height: 380px !important;
  max-width: 250px !important;
}

@media (max-width: 767px) {
  .card-size {
    min-height: 650px !important;
    width: 250px !important;
  }
  .body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#card-table {
  font-weight: bold;
  color: $primary-color;
}

.full-card {
  height: 100%;
  position: relative;
}

.card-footer-custom {
  position: absolute;
  bottom: 0px;
  height: 50px;
  background-color: $background-color-1;
}

.card-title-custom {
  color: $background-color-1;
  font-weight: bold;
}

.card-shadow {
  box-shadow: 0 8px 14px 1px rgba(201, 201, 201, 0.27),
    0 0 4px 0 rgba(179, 179, 179, 0.3);
}

.header {
  padding-top: 20px;
  padding-bottom: 40px;
  h1 {
    color: $secondary-color;
  }
  h3 {
    color: $secondary-color;
  }
  @media (max-width: 767px) {
    h3 {
      font-size: 27px;
      color: $secondary-color;
    }
  }
}

%message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.work {
  @extend %message;
  color: green;
}

.contact {
  @extend %message;
  color: orange;
}

.about {
  @extend %message;
  color: red;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: red;
}

h6,
h2 {
  color: orange;
}
